.header{
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  
  
}
.left{
display: flex;
align-items: center; 

}
.center{
 
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right{
  margin-right: 24px;
  width: 180px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
} 
.ham{
  height: 30px;
  margin-left: 24px;
  margin-right: 24px;
}
.logo{
  height: 20px;
}
.search{
  flex: 1;
  width: 0;
  height: 36px;
  font-size: 16px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  border-color: rgb(241, 237, 237);
}
.search::placeholder{
 font-family: Arial, Helvetica, sans-serif;

}
.si{
  height: 30px;
 
}
.searchb{
   height: 40px;
   width:66px ; 
   background-color: rgb(237, 238, 239);
   border-style: solid;
   border-width: 1px;
   border-color: rgb(241, 237, 237);
   margin-left: -1px;
   margin-right: 10px;
  
}
.searchb,.voicei,
 .upload, .yotube,
 .noticon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchb .tooltip,
.voicei .tooltip,
.upload .tooltip,
.yotube .tooltip,
.noticon .tooltip{
  position: absolute;
  background-color: rgb(196, 196, 196);
  color: white;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
 pointer-events: none;
 white-space: nowrap;

}
.searchb:hover .tooltip,
.voicei:hover .tooltip,
.upload:hover .tooltip,
.yotube:hover .tooltip,
.noticon:hover .tooltip
{
opacity: 1;
}

.voice{
  height: 24px;
  
  
}
.voicei{
height: 40px;
width: 40px;
border-style: none;
border-radius: 20px;
background-color: rgb(245, 245, 245);
}

.uploadicons{
 height: 24px;
}
.youtbeicons{
height: 24px;
}
.notifiicon{
height: 24px;
}
.chanicon{
height: 34px;
border-radius: 16px;
}
.noticon{
position: relative;
}
.timenoti{
position: absolute;
top: -5px;
right: -5px;
background-color: rgb(231, 29, 29)
;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
padding-left: 5px;
padding-right: 5px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 10px;
}