body{
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(255, 255, 255);
}
p{
  font-family:Roboto,Arial, Helvetica, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}
.thumbnail{
  margin-bottom: 12px;
  position: relative;
 
}
.thumb{
  width: 100%;
  cursor: pointer;
}
.title{
  font-size: 14px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.video{

}
.profile{
  display: inline-block;
  width: 50px;
  vertical-align: top;
  cursor: pointer;
  
}
.profile{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile .tooltips{
  position: absolute;
  padding-top:4px ;
  padding-bottom:4px ;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
 pointer-events: none;
 white-space: nowrap;
}
.profile:hover .tooltips{
  opacity: 1;
}
.video-info{
  display: inline-block;
  width: 400px;
 
}
.pro{
  width:40px;
 border-radius: 50px;

}
.sub,
.sub1{
  font-size: 12px;
  color: rgb(63, 62, 62);

}
.sub{
  margin-bottom: 4px;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
@media(max-width: 750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media(min-width:1000px) {
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}
@media(min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.time{
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
